.pokemon-card {
    border-radius: 22px;
    margin: 0 auto;
    max-width: 15rem;
}

.pokemon-image {
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    border-radius: inherit;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        filter: contrast(1.1);
    }
}